body { 
     background-color: #2b2b2b;
     background-image: url('https://xavierfisher.github.io/pexels-andreas-schnabl-1775843-19487036.jpg');
     background-size: cover;
     background-attachment: fixed;
}
